* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

button {
  font: inherit;
  border: none;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  background-image: url(../images/pattern-background-mobile.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  height: auto;
  margin: 2rem 1rem;
  background-color: white;
  line-height: 1.2;
  border-radius: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem;
}

h1 {
  font-weight: 900;
}

p {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
  line-height: 1.5rem;
}

.hero__container {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 1rem;
}

.hero__container div:nth-child(1) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
}

.hero__container div:nth-child(2) p:nth-child(1) {
  font-weight: 900;
  color: black;
}

.hero__container p a:any-link {
  color: hsl(245, 75%, 52%);
}

.hero__container p a:active,
a:hover,
a:focus {
  color: hsl(245, 72%, 65%);
  text-decoration: none;
  cursor: pointer;
}

.hero__btn {
  display: flex;
  flex-direction: column;
}

.hero__btn button {
  padding: 1rem;
  width: 100%;
}

.hero__btn button:nth-child(1) {
  background-color: hsl(245, 75%, 52%);
  color: white;
  font-weight: bold;
  box-shadow: 0px 20px 10px hsla(245, 75%, 52%, 0.15);
  border-radius: 1rem;
  z-index: 1;
}
.hero__btn button:nth-child(1):active,
button:nth-child(1):hover,
button:nth-child(1):focus {
  background-color: hsl(245, 72%, 65%);
  cursor: pointer;
}

.hero__btn button:nth-child(2) {
  background-color: white;
  color: hsl(224, 23%, 55%);
  font-weight: bold;
  margin-top: 1rem;
}

.hero__btn button:nth-child(2):active,
button:nth-child(2):hover,
button:nth-child(2):focus {
  color: hsl(223, 21%, 13%);
  cursor: pointer;
}

@media screen and (min-width: 40rem) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }

  main {
    max-width: 26rem;
  }
}
